@import url(../style/root.css);
@import url(../style/rest.css);
@import url(../style/global.css);
@import url(../style/nav.css);
#hero{
    background-color: var(--bg-color);
    padding-top: 5rem;
}
.hero-banner-content{
    width: 90%;
    margin: auto;
    gap: 5rem;
}
.hero-banner-content .hero-banner-txt{
    gap: 3rem;
    height: fit-content;
}
.hero-banner-txt .collection::before{
    content: "";
    position: absolute;
    width: 0.125rem;
    height: 100%;
    left: 0;
    background-color: var(--light-txt-color);
}
.hero-banner-txt p{
    color: var(--light-txt-color);
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-left: 2rem;
}
.hero-banner-txt h1{
    font-size: 3.75rem;
}
.hero-banner-txt .discover{
    gap: 0.625rem;
}
.hero-banner-txt .discover a{
    color: var(--txt-color);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: roboto-bold;
    transition: .4s;
}
.discover:hover a, .discover:hover{
    color: var(--hover-color);
}
.hero-banner-img{
    height: 50rem;
    z-index: 2;
}
.hero-banner-img .chair-img{
    top: 8rem;
    left: 8rem;
    z-index: 1;
}
.hero-banner-img .bg-img{
    top: 0;
    z-index: -1;
}
.back{
    left: -4rem;
    font-size: 3.25rem;
    top: 35%;
}
.next{
    right: -4rem;
    font-size: 3.25rem;
    top: 35%;
}
@media (max-width:1024px) {
    .hero-banner-content{
        width: 100%;
    }
    .hero-banner-txt h1{
        font-size: 3rem;
    }
    .hero-banner-img .chair-img{
        top: 5rem;
        left: 5rem;
        z-index: 1;
    }
    .hero-banner-img .bg-img img{
        width: 30rem !important;
        height: 30rem !important;
    }
    .back{
        left: 0rem;
        top: 30%;
    }
    .next{
        right: 0rem;
        top: 30%;
        z-index: 3;
    }
}
@media (max-width:768px){
    .hero-banner-content{
        gap: 0;
    }
    .hero-banner-txt{
        z-index: 10;
    }
    .hero-banner-img{
        left: -6rem;
    }
}
@media (max-width:425px) {
    html{
        font-size: 12px;
    }
    .hero-banner-img{
        left: -20rem;
    }
    .hero-banner-img .bg-img img{
        width: 27rem !important;
        height: 27rem !important;
    }
    .hero-banner-img .chair-img{
        left: 10rem;
        top: 4rem;
    }
    .hero-banner-img .chair-img img{
        width: 16.583rem;
        height: 24rem;
    }
}
@media (max-width:320px) {
    html{
        font-size: 10px;
    }
    .hero-banner-img{
        left: -25rem;
    }
}