@import url(../style/root.css);
@import url(../style/rest.css);
@import url(../style/global.css);
@import url(../style/nav.css);
/* hero banner css start */
#hero{
    background-color: var(--bg-color);
    padding-top: 5rem;
    position: relative;
}
.hero-banner-content{
    width: 90%;
    margin: auto;
    gap: 5rem;
}
.hero-banner-content .hero-banner-txt{
    gap: 3rem;
    height: fit-content;
}
.hero-banner-txt .collection::before{
    content: "";
    position: absolute;
    width: 0.125rem;
    height: 100%;
    left: 0;
    background-color: var(--light-txt-color);
}
.hero-banner-txt p{
    color: var(--light-txt-color);
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-left: 2rem;
}
.hero-banner-txt h1{
    font-size: 3.75rem;
}
.hero-banner-txt .discover{
    gap: 0.625rem;
}
.hero-banner-txt .discover img{
    width: 1.125rem;
}
.hero-banner-txt .discover a{
    color: var(--txt-color);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: roboto-bold;
    transition: .4s;
}
.discover:hover a, .discover:hover, .discover:hover img{
    color: var(--hover-color);
}
.hero-banner-img{
    height: 50rem;
    z-index: 2;
}
.hero-banner-img .chair-img{
    top: 8rem;
    left: 8rem;
    z-index: 1;
}
.hero-banner-img .bg-img{
    top: 0;
    z-index: -1;
}
.back{
    left: -4rem;
    font-size: 3.25rem;
    top: 35%;
}
.next{
    right: -4rem;
    font-size: 3.25rem;
    top: 35%;
}
/* hero banner css end */
/* banner box css start */
#banner-box{
    background:  var(--white-color) !important;
    margin-left: 6rem !important;
    position: absolute;
    top: 50rem;
    z-index: 10;
}
.banner-card{
    background-color: var(--white-color);
    padding-top: 2rem !important;
}
.banner-box-img{
    width: 100%;
    height: 100%;
}
.banner-box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.first-box{
    padding-left: 2rem !important;
}
.second-box{
    padding-right: 2rem !important;
}
.first-box .first-txt-box{
    top: 5.5rem;
    left: 5rem;
}
.second-box .second-txt-box{
    top: 5.5rem;
    left: 39rem;
}
.banner-box-txt a{
    font-size: 2rem;
}
.banner-box-txt h6{
    font-size: 1.3rem;
}
.banner-btn a{
    font-size: 1.2rem;
}
.banner-box-txt a , .banner-box-txt h6{
    color: var(--txt-color);
    transition: .4s;
}
.banner-btn img{
    width: 1.125rem;
}
.banner-box-txt h3 a:hover{
    color: var(--hover-color);
}
.banner-card:hover .banner-btn img ,.banner-card:hover .banner-btn a{
    opacity: .7;
}
/* banner box css end */
/* products css start */

/* media query start */
@media (max-width:1024px){
    .hero-banner-content{
        width: 100%;
    }
    .hero-banner-txt h1{
        font-size: 3rem;
    }
    .hero-banner-img{
        height: 40rem;
    }
    .hero-banner-img .chair-img{
        top: 5rem;
        left: 5rem;
        z-index: 1;
    }
    .hero-banner-img .bg-img img{
        width: 30rem !important;
        height: 30rem !important;
    }
    .back{
        left: 0rem;
        top: 30%;
    }
    .next{
        right: 0rem;
        top: 30%;
        z-index: 3;
    }
    #banner-box{
        position: relative;
        top: 0;
        margin: 0 !important;
    }
    .first-box .first-txt-box{
        left: 6rem;
    }
    .second-box .second-txt-box{
        left: 35rem;
    }
}
@media (max-width:768px){
    .hero-banner-content{
        gap: 0;
    }
    .hero-banner-txt{
        z-index: 10;
    }
    .hero-banner-img{
        left: -6rem;
    }
    #banner-box .container-md{
        padding: 0 !important;
        margin: auto !important;
    }
    .first-box .first-txt-box{
        left: 5rem;
    }
    .second-box .second-txt-box{
        left: 30rem;
    }
}
@media (max-width:425px) {
    html{
        font-size: 12px;
    }
    .hero-banner-img{
        left: -20rem;
    }
    .hero-banner-img .bg-img img{
        width: 27rem !important;
        height: 27rem !important;
    }
    .hero-banner-img .chair-img{
        left: 10rem;
        top: 4rem;
    }
    .hero-banner-img .chair-img img{
        width: 16.583rem;
        height: 24rem;
    }
    .banner-box-content{
        margin: 0 !important;
    }
    .first-box{
        padding: 2rem !important;
        padding-bottom: 0 !important;
    }
    .second-box{
        padding: 2rem !important;
    }
    .first-box .first-txt-box{
        left: 4rem;
    }
    .second-box .second-txt-box{
        top: 26rem;
        left: 4rem;
    }
    .banner-box-txt a{
        font-size: 2.5rem;
    }
    .banner-box-txt h6{
        font-size: 1.6rem;
    }
    .banner-btn a{
        font-size: 1.4rem;
    }
}
@media (max-width:375px) {
    html{
        font-size: 10px;
    }
    .hero-banner-img{
        left: -20rem;
    }
}
@media (max-width:320px) {
    .hero-banner-img{
        left: -25rem;
    }
}