@import url(../style/root.css);
@import url(../style/rest.css);
@import url(../style/global.css);
@import url(../style/nav.css);
@import url(../style/shop-page.css);
/* hero banner css start */
#hero{
    background-color: var(--bg-color);
    padding-top: 5rem;
    position: relative;
}
.hero-banner-content{
    width: 90%;
    margin: auto;
    gap: 5rem;
}
.hero-banner-content .hero-banner-txt{
    gap: 3rem;
    height: fit-content;
}
.hero-banner-txt .collection::before{
    content: "";
    position: absolute;
    width: 0.125rem;
    height: 100%;
    left: 0;
    background-color: var(--light-txt-color);
}
.hero-banner-txt p{
    color: var(--light-txt-color);
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-left: 2rem;
}
.hero-banner-txt h1{
    font-size: 3.75rem;
}
.hero-banner-txt .discover{
    gap: 0.625rem;
    transition: .4s;
}
.hero-banner-txt .discover img{
    width: 1.125rem;
}
.hero-banner-txt .discover a{
    color: var(--txt-color);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: roboto-bold;
    transition: .4s;
}
.discover:hover a, .discover:hover, .discover:hover img{
    color: var(--hover-color) !important;
}
.hero-banner-img{
    height: 50rem;
    z-index: 2;
}
.hero-banner-img .chair-img{
    top: 8rem;
    left: 8rem;
    z-index: 1;
}
.hero-banner-img .bg-img{
    top: 0;
    z-index: -1;
}
.back{
    left: -4rem;
    font-size: 3.25rem;
    top: 35%;
}
.next{
    right: -4rem;
    font-size: 3.25rem;
    top: 35%;
}
/* hero banner css end */
/* banner box css start */
.banner-box-content{
    background:  var(--white-color) !important;
    height: 50vh;
    position: relative;
    top: -10rem;
}
.banner-card{
    background-color: var(--white-color);
    padding-top: 2rem !important;
}
.banner-box-img{
    width: 100%;
    height: 100%;
}
.banner-box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.first-box{
    padding-left: 2rem !important;
}
.second-box{
    padding-right: 2rem !important;
}
.banner-box-txt{
    top: 0;
    padding: 5rem 3rem;
}
.banner-box-txt a{
    font-size: 2rem;
}
.banner-box-txt h6{
    font-size: 1.3rem;
}
.banner-btn a{
    font-size: 1.2rem;
}
.banner-box-txt a , .banner-box-txt h6{
    color: var(--txt-color);
    transition: .4s;
}
.banner-btn img{
    width: 1.125rem;
}
.banner-box-txt h3 a:hover{
    color: var(--hover-color);
}
.banner-card:hover .banner-btn img ,.banner-card:hover .banner-btn a{
    opacity: .7;
}
/* banner box css end */
/* products css start */
.products-navbar-content h3{
    color: var(--txt-color);
    font-size: 2rem;
}
.nav-item a{
    color: var(--txt-color);
    font-family: roboto-medium;
}
.nav-item .active{
    color: var(--light-txt-color);
}
.icons-bg{
    width: 16rem;
    height: 16rem;
    position: absolute;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-color: rgba(0,0,0, .2);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.product-card:hover .icons-bg{
    opacity: 1;
    visibility: visible;
}
.icon-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: absolute;
    bottom: -3rem;
    transition: .4s linear;
}
.product-card:hover .icon-box{
    bottom: 6.5rem;
}
.icon-box .icon{
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
}
.view::after{
    content: "quick view";
    position: absolute;
    width: max-content;
    height: 1.3rem;
    padding: .3rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -60%;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
}
.view::before, .cart::before, .wishlist::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -.7rem;
    left: 32%;
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    opacity: 0;
    visibility: hidden;
}
.cart::after{
    content: "add to cart";
    position: absolute;
    width: max-content;
    height: 1.3rem;
    padding: .3rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -60%;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
}
.wishlist:after{
    content: "wishlist";
    position: absolute;
    width: max-content;
    height: 1.3rem;
    padding: .3rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -60%;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
}
.view:hover::after , .view:hover::before, .cart:hover::after , .cart:hover::before, .wishlist:hover::after , .wishlist:hover::before{
    opacity: 1;
    visibility: visible;
}
.products-img{
    width: 16rem;
    height: 16rem;
}
.products-img img{
    width: 100%;
    height: 100%;
}
.product-txt span{
    color: var(--light-txt-color);
}
.product-txt h5{
    font-size: 1.1rem;
}
.right-arrow{
    top: 35%;
    right: 0%;
}
.left-arrow{
    top: 35%;
    left: 0%;
}
/* products css end */
/* popup css start */
.popup-cursor{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    background: var(--rate-color);
    color: white;
    top: -2.5rem;
    right: -1rem;
    z-index: 20;
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
}
.popup-cursor:hover{
    background-color: red;
}
.popup{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}
.show{
    visibility: visible;
    opacity: 1;
}
.popup-container{
    position: relative;
    width: 80%;
    height: 70vh;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    gap: 1rem;
    transition: .4s;
}
.show-container{
    visibility: visible;
    opacity: 1;
}
.popup-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.popup-img img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    transition: .4s;
}
.popup-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}
.popup-content h3{
    font-weight: 600;
}
.popup-content .popup-rate{
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.popup-rate svg.active{
    color: var(--hover-color);
}
.popup-content p{
    font-family: 0.8em;
    color: var(--txt-color);
}
.popup-content .price{
    display: flex;
    align-items:center;
    gap: .5rem;
    color: var(--light-txt-color);
}
.popup-content .price strong{
    color: var(--txt-color);
    font-weight: 700;
    font-weight: bold;
    font-size: 1.4rem;
}
.is-available span span{
    color: rgb(144, 221, 28);
    font-weight: 600;
    font-size: .9rem;
}
.is-available span .out-of-stock{
    color: rgb(219, 30, 30);
}
.cart-content{
    display: flex;
    gap: .5rem;
}
.counter{
    display: flex;
    align-items:center;
    gap: 1rem;
    width: fit-content;
    padding: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    color: var(--txt-color);
    font-size: 1.3rem;
}
.counter span{
    cursor: pointer;
    padding: 0 .5rem;
}
.add-to-cart-content{
    display: flex;
    align-items:center;
    gap: .6rem;
    width: fit-content;
    padding: .5rem 2rem;
    border: .1rem solid rgba(0, 0, 0, .5);
    color: white;
    background-color: black;
    cursor: pointer;
    transition: .4s;
}
.add-to-cart-content:hover{
    background-color: rgba(0, 0, 0, .8);
}
.wish-list{
    display: flex;
    align-items:center;
    justify-content: center;
    width: fit-content;
    padding: .5rem 1rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .4s;
}
/* popup css end */
/* interior collection css start */
#interior-collection{
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
}
.interior-collection-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.interior-collection-img img{
    width: 140%;
    object-fit:cover;
    scale: 1.6;
}
.interior-collection-txt{
    position: absolute;
    z-index: 20;
    padding: 6rem 5rem;
}
.interior-collection-txt h1{
    font-size: 3rem;
}
.interior-collection-txt span{
    color: red;
}
.interior-collection-txt p{
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}
.interior-collection-txt .discover{
    gap: 0.625rem;
    padding: 2rem 0rem;
    transition: .4s;
}
.interior-collection-txt .discover img{
    width: 1.125rem;
}
.interior-collection-txt .discover a{
    color: var(--txt-color);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: roboto-bold;
    transition: .4s;
}
.interior-collection-txt .discover:hover a,.interior-collection-txt .discover:hover,.interior-collection-txt .discover:hover img{
    color: var(--hover-color);
}
/* interior collection css end */
/* latest css start */
#latest .discover{
    gap: 0.625rem;
    padding: 2rem 0rem;
    transition: .4s;
}
#latest .discover img{
    width: 1.125rem;
}
#latest .discover a{
    color: var(--txt-color);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: roboto-bold;
    transition: .4s;
}
#latest .discover:hover a, #latest .discover:hover, #latest .discover:hover img{
    color: var(--hover-color);
}
.latest-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.latest-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.latest-card{
    position: relative;
    transition: .4s linear;
}
.latest-card:hover::after{
    content: "read more +";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: roboto-regular;
    text-transform: capitalize;
    width: 7rem;
    height: 2.5rem;
    padding: .5rem;
    background-color: white;
    bottom: 37%;
    right: 0;
    z-index: 10;
    cursor: pointer;
}
.latest-txt p a{
    font-weight: 500;
    font-size: 1.2rem;
}
.line-after::after{
    content: "";
    position: absolute;
    background-color: var(--light-txt-color);
    width: 6rem;
    height: .15rem;
}
.latest-card:hover .line-after::before{
    content: "";
    position: absolute;
    background-color: var(--hover-color);
    width: 6rem;
    height: .15rem;
    z-index: 20;
    transition: .4s linear;
}
.latest-txt span{
    font-weight: 500;
}
.latest-txt .color-txt{
    color: var(--light-txt-color);
}
#brands{
    margin: 3rem 0;
}
.logo-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.logo-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 1.6;
    opacity: .5;
    transition: .4s;
}
.logo-box:hover img{
    opacity: 1;
}
footer{
    width: 100%;
    overflow: hidden;
    position: static;
    bottom: 0;
    background-color: #8888881c;
    padding: 5rem 3rem;
    z-index: -1;
}
footer h3, footer h5{
    color: black;
    font-weight: bold;
}
footer i{
    color: black;
    transition: .4s;
    scale: 1.2;
}
.social i:hover{
    color: var(--hover-color);
}
.address{
    padding: .5rem 0;
    padding-right: 2rem;
    border-bottom: .1rem solid var(--light-txt-color);
}
.address span{
    color: var(--light-txt-color);
    font-size: 1.1rem;
}
.address i {
    color: var(--txt-color);
    opacity: .9;
}
footer span span{
    transition: .4s;
}
footer span span:hover{
    color: var(--hover-color);
}
/* latest css end */
/* media query start */
@media (max-width:1024px){
    .hero-banner-content{
        width: 100%;
    }
    .hero-banner-txt h1{
        font-size: 3rem;
    }
    .hero-banner-img{
        height: 40rem;
    }
    .hero-banner-img .chair-img{
        top: 5rem;
        left: 5rem;
        z-index: 1;
    }
    .hero-banner-img .bg-img img{
        width: 30rem !important;
        height: 30rem !important;
    }
    .back{
        left: 0rem;
        top: 30%;
    }
    .next{
        right: 0rem;
        top: 30%;
        z-index: 3;
    }
    #banner-box{
        position: relative;
        top: 0;
        margin: 0 !important;
    }
}
@media (max-width:768px){
    .hero-banner-content{
        gap: 0;
    }
    .hero-banner-txt{
        z-index: 10;
    }
    .hero-banner-img .chair-img img{
        width: 20rem;
        height: 26rem;
    }
    .hero-banner-img{
        left: -6rem;
    }
    #banner-box .container-md{
        padding: 0 !important;
        margin: auto !important;
    }
}
@media (max-width:425px) {
    html{
        font-size: 12px;
    }
    .hero-banner-img{
        left: -20rem;
    }
    .hero-banner-img .bg-img img{
        width: 27rem !important;
        height: 27rem !important;
    }
    .hero-banner-img .chair-img{
        left: 10rem;
        top: 4rem;
    }
    .hero-banner-img .chair-img img{
        width: 16.583rem;
        height: 24rem;
    }
    .banner-box-content{
        margin: 0 !important;
    }
    .first-box{
        padding: 2rem !important;
        padding-bottom: 0 !important;
    }
    .second-box{
        padding: 2rem !important;
        position: relative;
    }
    .banner-box-txt a{
        font-size: 2.5rem;
    }
    .banner-box-txt h6{
        font-size: 1.6rem;
    }
    .banner-btn a{
        font-size: 1.4rem;
    }
}
@media (max-width:375px) {
    html{
        font-size: 10px;
    }
    .hero-banner-img{
        left: -20rem;
    }
}
@media (max-width:320px) {
    .hero-banner-img{
        left: -25rem;
    }
}
