nav{
    background-color: var(--bg-color);
}
.nav-bar{
    width: 90%;
    height: 5.625rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.nav-bar h1{
    font-size: 2rem;
    cursor: pointer;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav-bar a{
    color: var(--txt-color);
    font-family: roboto-bold;
}
.nav-bar .nav-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.625rem;
}
.nav-bar .nav-icons img{
    width: 1.825rem;
    height: 1.625rem;
    transition: .4s;
}
@media (max-width:768px) {
    html{
        font-size: 14px;
    }
    .nav-bar .nav-list{
        display: none;
    }
}
@media (max-width:425px) {
    .nav-icons i .none{
        display: none;
    }
}